<?php include ('../views/admin/admin_header.html'); ?>
<h1>News</h1>
<table class="table table-centered mb-0">
    <thead>
    <tr>
        <th>ID</th>
        <th>Cid</th>
        <th>Title</th>
        <th>Dsc</th>
        <th>Image</th>
        <th>URL</th>
        <th>Create_time</th>
        <th>Content</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody id="tbody">
    <?php foreach($course as $k => $v){?>
    <tr data-id="<?php echo $v['id']?>">
        <td><?php echo $v['id']?></td>
        <td><input  data-type='cid' class="form-control" type="text" value="<?php echo $v['cid']?>"></td>
        <td><input  data-type='title' class="form-control" type="text" value="<?php echo $v['title']?>"></td>
        <td><input data-type='dsc' class="form-control" type="text" value="<?php echo $v['dsc']?>"></td>
        <td><input data-type='image' class="form-control" type="text" value="<?php echo $v['image']?>"></td>
        <td><input data-type='url' class="form-control" type="text" value="<?php echo $v['url']?>"></td>
        <td><input data-type='create_time' class="form-control" type="text" value="<?php echo $v['create_time']?>"></td>
        <td><input data-type='content' class="form-control" type="text" value="<?php $v['content']?>"></td>
        <td><button class="btn btn-link btn-rounded remove" type="button">删除</button></td>
    </tr>
    <?php } ?>
    </tbody>
</table>
<button type="button" class="btn btn-primary btn-rounded" id="add">新建</button>
<div class="spinner" id="spinner" style="display: none">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
</div>
 总条数
  <?php echo $num?>
  <div>
      <ul id="pagination-demo" class="pagination-sm"></ul>
  </div> 
  <script>
    $(function(){
     $('#pagination-demo').twbsPagination({
        totalPages: <?php echo $page_total?>,
        visiblePages: 8,
        startPage: <?php echo $page?>,
        onPageClick: function (event, page) {
            if(page!=<?php echo $page?>){
                location.href="/admin.php?c=news&m=index&cid=<?php echo $cid?>&page="+page
            }
        }
    });
  })
  </script>

<!--   <div class="tot">
      <textarea name="txt" warp="virtual"></textarea>
  </div> -->
<?php include ('../views/admin/admin_footer.html'); ?>
<!-- 分页的jquery代码 -->
