<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="//s3.pstatp.com/image/toutiao_mobile/short_cut_icon_1.png" type="image/x-icon">
    <link rel="stylesheet" href="/assets/index/css/category.css">
    <script src="/assets/index/js/rem1.js"></script>
    <script src="https://cdn.bootcss.com/jquery/1.9.1/jquery.js"></script>
    <title>频道管理</title>
</head>
<body>
<div class="title">
    <span class="backbtn">
        <a href="/index.php?c=page&m=index" class="back"></a>
    </span>
    <a href="javascript:;" class="zero">频道管理</a>
</div>
<div class="top-con top">
    <div class="title-one">点击删除以下频道</div>
    <ul class="controlDetail" id="top">
        <?php foreach($top as $k => $v) { ?>
        <li class="figure">
        <a href="javascript:;"><?php echo $v['name'] ?></a>
        </li>
        <?php } ?>
    </ul>
</div>
<div class="top-con ul">
    <div class="title-one">点击添加以下频道</div>
    <ul class="controlDetail" id="bottom">
        <?php foreach($bottom as $k => $v){ ?>
        <li class="figure">
        <a href="javascript:;"><?php echo $v['name'] ?></a>
        </li>
        <?php } ?>
    </ul>
</div>
</body>
</html>
<script src="/assets/index/js/category.js"></script>
